.candidate-form {
  padding: .5rem 1rem;
  border: 1px dashed #ccc;
  margin-bottom: 1rem;

  h2 {
    margin-bottom: .5rem;
  }

  input {
    &.ng-invalid.ng-touched {
      border: 1px solid red;
    }

    &.ng-valid {
      border: 1px solid green;
    }
  }
}
